listen: 0.0.0.0:4873
storage: /verdaccio/storage
plugins: /verdaccio/plugins

uplinks:
  npmjs:
    url: https://registry.npmjs.org/

packages:
  "@*/*":
    access: $authenticated
    publish: $authenticated
    proxy: npmjs
  "**":
    access: $authenticated
    publish: $authenticated
    proxy: npmjs

auth:
  htpasswd:
    file: /verdaccio/conf/htpasswd
    max_users: 1000

middlewares:
  audit:
    enabled: true

logs:
  - { type: stdout, format: pretty, level: http }